AddType video/mp4  mp4 m4v
AddType audio/mp4  m4a
AddType video/ogg  ogv
AddType audio/ogg  ogg oga
AddType video/webm webm

RewriteEngine On  
RewriteBase /
RewriteCond %{REQUEST_URI} ayahwebservice
RewriteRule ayahwebservice/(.*)$ /ws/$1 [L]

RewriteCond %{REQUEST_URI} ^system.*  
RewriteRule ^(.*)$ /index.php/$1 [L]  
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule ^(.*)$ index.php/$1 [L]  


#Redirect 301 /ayahwebservices/ /
#Redirect 301 /index.php/ayahwebservice/ /ws/
